
.split-inner {
  position: relative;
  width: 100%;
  height: 100%;
}

.split-inner.split-vertical {
  display: flex;
  flex-direction: column;
}

.split-inner.split-horizontal {
  display: flex;
  flex-direction: row;
}

.split-handle {
   background: #888;
   cursor: row-resize;
 }
.split-inner.split-horizontal > .split-handle {
  width: 2px;
   cursor: col-resize;
}
.split-inner.split-vertical > .split-handle {
  height: 2px;
   cursor: row-resize;
}
